.banner{
    width: 100%;
    height: auto;
    padding-top: 5px;
}
a,li{
    list-style: none;
} 
/* bắt đầu phần showproduct */
.productDetail {
    top: -300%;
    left: 22%;
    z-index: 3;
    position: fixed;
    width: 60%;
    height: 295px;
    display: block;
    background: #ffF;
    transition: 0.7s;
    border-radius: 5px;
    border: 5px solid #680000;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}
.productDetail .col-2 img {
    margin-left: 2%;
    margin-top: 2%;
    width: 90%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}
 #image{

max-width: 269px;
}
.info {
    
    margin-top: 0%;
  
    position: absolute;
   
}
.price-p{
    margin: 3px 0px 5px 0px;
}
.Description{
    margin: 3px 0px 5px 0px;
}
h2 {
    font-size: 30px;
    margin-left: 1%;
    margin-top: 1%;
    color: #680000;
    margin-bottom: 0px;
}
.rating span {
    color: #680000;
    font-size: 20px;
    margin-bottom: 0px;

}
.productInfo{
    height: 200px;

}
#size {
    font-size: 16px;
    border: 2px solid #000;
    width: 100px;
}
.closeDetail {
    font-weight: bold;
    text-decoration: none;
    font-size: 50px;
    color: black;
    top: 0;
    right: 0;
    margin-top: -10px;
    position: absolute;;
}

.addCart{
    background: #680000;
    border-radius: 7px;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    transition: 0.5s;
    margin-bottom: 10px;
    position: relative;
}
.btnAddtoCart{
    color: white;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    margin-left: 4%;
    padding-top: 5px;
    position: absolute;
}
.Cart{
    position: relative;
    width: 50px;
    height: 50px;
}
.Cart .cartNum{
    position: absolute;
    color: burlywood;
   top: -30px;
 right: 10px;
 font-size:20px ;
}
/* bắt đầu phần filter */
.filter{
    
    grid-template-columns: repeat(7, 1fr);
    margin: 15px 0 14px 0;
    height: 30px;
    text-align: center;
    gap: 10px;
    width: 100%;
    display: flex;
}
.filter .item{
    background-color: #680000;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.filter .item select,.filter .item input , .filter .item button{
    width: 81%;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-left: 1px solid #fff;
    outline: none;
    color:#fff;
}
.filter .item label{
    display: block;
    width: 40%;
    padding: 0px 20px;
}
.filter .submit{
background-color: #680000;
color:#fff;
width: 90px;
}

label[for] {
    cursor: pointer;
}
/* ---------bắt đầu phần cartegory -------*/
.cartegory{
    padding: 10px 0 0;
}
.cartegory-top{
    padding: 20px;
    padding-bottom: 20px;
}
.cartegory-top p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 20px;
    
}
.cartegory-top a{
    color: red;
    margin: 0px 9px;
    font-size: 20px;
}
.cartegory-top span{
    font-size: 20px;
}

.cartegory-right{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.cartegory-right-content{
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    border: 1px solid #bebebe;
   margin-bottom: 20px;
   transition: all 0.5s ease;
}
.cartegory-right-content-item:hover{
transform: translateY(-10px);
}
.cartegory-right-content-item h1{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    color:#333333;
}
.cartegory-right-content-item img{
    width: 100%;

}
.cartegory-right-content-item p{
    font-size: 12px;
}
.cartegory-right-bottom{
justify-content: space-between;
text-align: center;
margin: 60px 0 20px 0 ;
}

 .product_name {
    overflow: hidden; /* ẩn đi phần chữ phía sau*/
    text-overflow: ellipsis; /*làm mất phần chữ phía sau biến nó thành ....*/
    margin-bottom: 0;
    white-space: nowrap; /* !quan trọng nếu k có cái này sẽ có khoảng trắng làm các ô không đều*/
    font-size: 14px;
    margin-top: 20px;
  
    
}
 .product_prices .special-price {
    color:#680000 ;
    font-weight: 900;
    font-size: 16px;
    
}
 .special-price-sup{
    color:#680000 ;
    font-weight: 900;
  
}
 .product_prices {
    margin-top: 10px;
    margin-bottom: 5px;
}
 .product_name a {
    color: #212121;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    margin-left: 9px;
    font-family: Arial, Helvetica, sans-serif;
}


.btndetail{
    float:right;
    display: flex;
    width: 60px;
    height: 30px;
    border-radius: 14px;
    border: 4px solid;
    font-size: 14px;
    font-weight: bold;
    color: #680000;
    background:white;
    transition: 1s;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 7px;
    margin-right: 2px;
}
.btndetail:hover{
    background: #680000;
    color: white;
}
.product-image{
    display: block;
    position: relative;
  overflow: hidden;
}

.product-wrapper{
    display: block;
}
.product-image img{
    display: block;
}
/* -------------- phần phân trang ------------*/
.text-xs-right {
  
    bottom: 0; 
    left: 0;
    right: 0;
    text-align: center;
     width: 100%; 
     margin-bottom: 20px;
    }
     .pagination {
       padding: 10px;
       text-align: center;
       list-style: none;
    }
    .pagination li {
        display: inline-block;
        background-color: #680000;
        padding: 0px;
        margin: 0 2.5px;
        border: 1px solid #680000;
        border-radius: 3px;
        cursor: pointer;
        width: 28px;
        height: 28px;
        line-height: 26px;
        font-size: 14px;
        color:white;
    }
    .pagination .active{
        background-color: #fff;
        color: black;
    }
    /* tablet: */
    @media only screen and (max-width:992px){
        .cartegory-top {
            white-space: nowrap; /* Không ngắt dòng */
            display: block;
          }
          
          .cartegory-top a, .cartegory-top span, .cartegory-top p {
            display: inline-block; /* Hiển thị ngang nhau */
          }
          .cartegory-right-content-item{
            width: calc(33.333% - 12px);
          }
          .cartegory-left {
            height: 0;
            width: 0;
            visibility: hidden;
        }
        .row{
            width: 100%;
        }
        .productDetail{
            height: 355px;
        }
        .productDetail .col-2 img{
            height: 300px;
            padding-top: 20px;
            box-shadow: none;
        }
        .rating{
            margin-left: 3px;
        }
        .price-p{
            margin: 3px 0px 5px 3px;
        }
        b{
            margin-left: 3px;
        }
        .Description {
            max-height: 90px;
            overflow-y: auto;
           margin-left: 3px;
        }
        .filter{
            grid-template-columns: repeat(6, 1fr);
            gap: 8px;
            height: 30px;
        }
       
       
    }
   
/* tablet: width>=740px and width<1024 */

   @media screen and (max-width: 768px) {
    .cartegory-top {
        white-space: nowrap;
        display: block;
      }
      
      .cartegory-top a, .cartegory-top span, .cartegory-top p {
        display: inline-block; /* Hiển thị ngang nhau */
      }
      .cartegory-right-content-item{
        width: calc(50% - 12px);
        
      }
      .cartegory-left {
        height: 0;
        width: 0;
    }
    .row{
        width: 100%;
    }
    #TopBtn{
        bottom: 0;
    }
    .productDetail {
        height: 500px;
    }
    .productDetail .col-2 img {
        width: 80%;
        height: 200px;
        padding-top: 5px;
        box-shadow: none;
        
   }
   #image {
    max-width: 300px;
}
.info {
    margin-top: 0%;
   position: relative;
}
h2 {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.closeDetail{
    right: 0;top: 0;
    position: absolute;
    margin-top: -53%;
    margin-left: 10px;
}
.rating{
    margin-left: 3px;
}
.price-p{
    margin: 3px 0px 5px 3px;
}
b{
    margin-left: 3px;
}
.Description {
    max-height: 90px;
    overflow-y: auto;
   margin-left: 3px;
}
.filter {
    display: block;
    height: 130px;
  }
  
 .filter .item {
 width: 70%;
 margin-bottom: 3px;
  }
  
  .item label {
    display: inline-block;
    width: 100px;
    text-align: right;
   
  }
  
  .item input, .item select {
    display: inline-block;
    width: 200px;
  }
  
  .item.submit {
    text-align: center;
  }
  .item.submit:hover{
    color: #680000;
    background: #fff;
  }
  .item.submit button:hover{
    color: white;
    background: black;
  }
  .item.submit button {
    width: 100px;
    background-color: #680000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .item input:focus {
    outline: none;
    border: 2px solid #555;
  }
  .minprice{
    margin: 0;
  }
  .filter .item label {
    width: 100px;
}
.cartegory-right-content {
    margin-top: 35px;
   }
}
   @media screen and (max-width: 460px) {
    .cartegory-top {
        white-space: nowrap; /* Không ngắt dòng */
        display: block;
      }
      
      .cartegory-top a, .cartegory-top span, .cartegory-top p {
        display: inline-block; /* Hiển thị ngang nhau */
      }
      .cartegory-right-content-item{
        width: calc(100% - 12px);
      }
      
    .row{
        width: 100%;
    }
    .closeDetail{
        font-size: 25px;
        margin-top: -84%;
        margin-right: 15px;
    }
    .Description {
        max-height: 69px;
        overflow-y: auto;
       
    }
    .filter {
        display: block;
       max-height: 120px;
       overflow-y: auto;
        
      }
}